<div class="modal modal-theme" style="display: block;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sign in</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-inline text-center">
                        <input type="email" name="email" class="form-control" placeholder="email">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-theme-ok">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="shadow"></div>