<div class="item-comment" style="border-bottom: 1px solid black; margin-bottom: 10px;">
    <p>
        <strong>User:</strong> <span class="user"></span>
    </p>
    <p>
        <strong>Date:</strong> <%= new Date(date).format('dd/MM/yy HH:mm:ss') %>
    </p>
    <p><%= text %></p>
    <% if (has_file) { %>
        <p class="file-block">
            <strong>Attached file:</strong> <a href="/api/file/<%= id %>?type=REQUEST_COMMENT" target="_blank">Download</a>
        </p>
    <% } %>
</div>